<div class ="container header">
  <h1>Welcome {{user}} to clone-it</h1>
  <a class="waves-effect waves-light btn newPost ng-hide" data-target="modal1">Upload An Image</a>
  <a class="waves-effect waves-light btn loginButton" href="#/login">Login</a>
  <a ng-click="logout($event)" class="waves-effect waves-light btn ng-hide logoutButton">Logout</a>
</div>

<div class="container">
    <div ng-repeat="each in votes | orderBy:'-vote'" >
        <div class="mainArticle container row">
            <div class="vote col s1">
                <div><img ng-click="each.vote=each.vote+1; james(each.firebase, each.vote)" class="upVote voteImg" src="/img/james.png" alt="westter"></div>
                <div class="voteCount">{{each.vote}}</div>
                <div><img ng-click=" each.vote=each.vote-1; joel(each.firebase, each.vote)" class="downVote voteImg" src="/img/joel.png" alt="olleg"></div>
            </div>
            <div class="col s11">
                <a href="{{each.img}}"><img class="mainPageImage" ng-class="{true: 'tambo'}[each.tamboClass]" ng-src="{{each.img}}" alt="{{each.title}}"></a>
                <div class="mainPageTitleBlock">
                    <a href="{{each.img}}" class="mainPageTitle">{{each.title}}</a>
                    <div class="submitted">Submitted by: {{each.username}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Upload An Image</h4>
    <input ng-model="title" type="text" placeholder="Title/Description">
    <form>
        <div class="file-field input-field">
          <div class="btn">
            <span>Upload A picture</span>
            <input type="file" id="fileInput">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
              <input ng-model="checked" type="checkbox" id="test5"/>
              <label for="test5">Is it Tambo?</label>
        </div>
      </form>
      <img class='uploadImage' id="myImg">
  </div>
  <div class="modal-footer">
    <a href="#"  ng-click='saveFirebase(title, checked)' class=" modal-action modal-close waves-effect waves-red btn-flat">Save</a>
    <a href="#" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
  </div>

</div>
