<div class="container">
  <h1>Welcome to clone-it</h1>
  <a class="waves-effect waves-light btn newPost ng-hide" data-target="modal1">Upload An Image</a>
  <a class="waves-effect waves-light btn loginButton" href="#/login">Login</a>
  <a ng-click="logoutofFirebase($event)" class="waves-effect waves-light btn ng-hide logoutButton">Logout</a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Upload An Image</h4>
    <input ng-model="title" type="text" placeholder="Title">
    <form>
        <div class="file-field input-field">
          <div class="btn">
            <span>Upload A picture</span>
            <input type="file" id="fileInput">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
          <input type="checkbox" id="test5" />
          <label for="test5">Is it Tambo</label>
        </div>
      </form>
      <img id="myImg">
  </div>
  <div class="modal-footer">
    <a href="#"  ng-click='saveFirebase(title)' class=" modal-action modal-close waves-effect waves-green btn-flat">Save</a>
  </div>

</div>
