.mainPageImage{
    max-width: 70px;
    max-height: 70px;
    display: inline-block;

}

.tambo:hover{
    filter: blur(0px);
}

.uploadImage{
    max-width: 300px;
    max-height: 300px;
    padding-top: 20px;
}

.tambo{
    filter: blur(10px);
}
